# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.streamlit/
*.csv

# Environment variables
.env
secrets.toml

# Google Credentials
service_account.json
credentials.json
*.json

# OS
.DS_Store
Thumbs.db
